html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#sketch-holder {
   text-align:center;
/*    width: 50%; */
   margin: 0 auto;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
